* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.App {
  text-align: center;
}

.input_components{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 250px);
  grid-gap: 3px;
  max-width: 70%;
  margin: auto;
}

.input_components > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: grey;
}

.user_inputs{
  background-color: lightgreen;
}

.not_ready{
  background-color: lightpink;
}
.ready{
  background-color: lightblue;
}
.processing{
  background-color: lightgreen;
}
.completed{
  background-color: chartreuse;
}
